html, body {
  height: 100%;
}

.picture {
  border-radius: 50%;
  width: 10em;
}

.navbar.navbar-inverse {
  background-color: #2980b9;
  border: none;
}

.navbar.navbar-inverse.clear {
  background-color: #FFFFFF;
  border: none;
}

.nav.navbar-nav.navbar-right {
  margin-top: 5px;
}

.brand {
  color: #FFFFFF;
  font-size: 26px;
  margin-top: 10px;
}

.brand2 {
  color: #2980b9;
}

#home {
  height: 100%;
  margin-top: -2em;
}

.icons {
  background-color: #2980b9;
  text-shadow: 0px 0px 6px #022C47;
  height: 25%;
  color: white;
}

.splash {
  background: url('group.jpg') 50% 30% no-repeat;
  background-size: cover;
  height: 43em;
}

.tagline {
  font-size: 48px;
  letter-spacing: 2px;
  color: #E8F6FF !important;
  font-weight: bold !important;
  margin-top: 8em;
  text-align: center;
  text-shadow: 0px 2px 5px #022C47;
}

span.glyphicon {
  font-size: 1.5em;
  text-shadow: 0px 0px 5px #022C47;
  color: #E74C3C;
}

.nav.navbar-nav.navbar-right li a {
  color: #2980b9;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #E74C3C;
}

.nav.navbar-nav.navbar-right.room-nav li a {
  color: white;
}

.nav.navbar-nav.navbar-right.room-nav li a:hover {
  color: #E74C3C;
}

.btn.btn-primary {
  background-color: #2980b9 !important;
}

.btn.btn-primary:hover {
  background-color: #114F78 !important;
}

.table-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.room {
  height: 30em;
}

.mark {
  display: none;
}

#facebook {
  margin-top: 20em;
}

#facebook li a {
  font-size: 28px;
  font-weight: bold;
}

#facebook li a:hover {
  font-size: 28px;
  background: none;
  color: #E74C3C;
}

.create {
  color: #2980b9;
  font-weight: bold;
  font-size: 20px;
}

.create:hover {
  color: #E74C3C;
}
