<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <p class="brand">converge<img src="converge4.png" style="width:40px; height: 40px"/></p>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right room-nav">
        <li><a href='#/facebook' ng-click='logOut()'>Home</a></li>
        <li><a href='#/logout' ng-click='logOut(true)'>Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="roomcontainer" ng-init='init()'>
  <div class = 'col-md-5 col-md-offset-1'>
  <h4>Group: {{roomName}}</h4>
    <ng-map class='room' center='current-location' zoom='14'>
      <marker ng-repeat='roomUser in roomDetails.users' position='{{roomUser.latitude}},{{roomUser.longitude}}'
        class='mark' icon = {{roomUser.userPic}} draggable="{{roomUser._id === user.id}}" on-dragend="updatePosition()">
      </marker>

      <marker ng-repeat='place in placeMarkers.slice(0,3)'
        on-click="showInfoWindow(event, place)"
        position='{{place.venue.location.lat}},{{place.venue.location.lng}}'
        class='mark'
        draggable="false">
      </marker>
    </ng-map>
  </div>

  <div class="col-md-5" >
    <h2>Venue Preferences:</h2>
    <div class="col-md-12" style="float:left">
      <form ng-submit="send()">
        <div class="col-md-6" style="float:left">
          <label>Place</label>
          <div class="radio">
            <label class="active">
              <input ng-model='prefs.query' name="query" type="radio" value="bar" checked="checked"> Bar
            </label>
          </div>
          <div class="radio">
            <label>
              <input ng-model='prefs.query' name="query" type="radio" value="coffee"> Coffee
            </label>
          </div>
          <div class="radio">
            <label>
              <input ng-model='prefs.query' name="query" type="radio" value="food"> Restaurant
            </label>
          </div>
        </div>

        <div class="col-md-6" style="float:left">
          <label>Price</label>
          <select ng-model='prefs.price' class="form-control">
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
          </select>
          <br>
	  <button type="submit" ng-disabled="resultsDisabled" class="btn btn-primary btn-block">Show Results</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-5" style="float:left">
    <br>
    <form ng-submit="choose()">
      <div class="panel panel-default">
        <div class="panel-heading">Group Thoughts</div>
        <table class="table">
          <tr>
            <th>Venue</th>
            <th>Votes</th>
            <th>Meet Here</th>
          </tr>
          <tr ng-repeat='place in places.slice(0,3)'>
            <td>{{ place.venue.name }}</td>
            <td class="table-left">{{ place.votes }}</td>
            <td class="table-left text-center">
              <input ng-model='selected.name' name="selected" type="radio" value="{{ place.venue.name }}">
            </td>
          </tr>
        </table>
      </div>
      <button type="submit" ng-disabled="chooseDisabled"
	class="btn btn-primary center-block" style="width: 15em">Submit Choice</button>
    </form>
  </div>
</div>
<div ng-hide="hideChoice" class="ng-hide col-md-11  col-md-offset-1" style="float: left">
  <br>
  <h2>You are meeting at:</h2>
  <p>{{ roomDetails.selectedVenue.venue.name }} </p>
  <p>{{ roomDetails.selectedVenue.venue.location.address}} </p>
</div>
<br>

<div id="footer" class="container">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner text-center small" style="margin-top:1.5em; color: #8FBDDB">
      © 2015 Emerald Mopeds | icon by Alex Kwa
    </div>
  </nav>
</div>
