
<div class="container" ng-init='init()'>
  <ul class="nav nav-pills right">
    <li role="presentation" class="active"><a href='#/facebook' ng-click='logOut()'>Home</a></li>
    <li role="presentation"><a href='#/logout' ng-click='logOut(true)'>Logout</a></li>
  </ul>

  <div class = 'col-md-10'>
  <h4>Group: {{roomName}}</h4>
    <ng-map class='room' default-style='true' center='current-location' zoom='14'>
      <marker ng-repeat='user in roomDetails.users' position='{{user.latitude}},{{user.longitude}}'
        class='mark' icon = {{user.userPic}} draggable="true">
      </marker>

      <marker ng-repeat='place in places.slice(0,3)'
        on-click="showInfoWindow(event, place)"
        position='{{place.venue.location.lat}},{{place.venue.location.lng}}'
        class='mark'
        draggable="false">
      </marker>
    </ng-map>
  </div>

<!--
  <div class="col-md-4" >
    <h2>Group Choicez:</h2>
    <h4>Place: {{ prefs.query }}</h4>
    <h4>Price: {{ prefs.price }}</h4>
    <h4>Rating: {{ prefs.rating }}</h4>
  </div>
-->

</div>
