<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <p class="brand">converge<img src="converge.png" style="width:40px; height: 40px"/></p>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right room-nav">
        <li><a href='#/facebook' ng-click='logOut()'>Home</a></li>
        <li><a href='#/logout' ng-click='logOut(true)'>Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" ng-init='init()'>
  <div class = 'col-md-8'>
  <h4>Group: {{roomName}}</h4>
    <ng-map class='room' center='current-location' zoom='14'>
      <marker ng-repeat='user in roomDetails.users' position='{{user.latitude}},{{user.longitude}}'
        class='mark' icon = {{user.userPic}} draggable="true" on-dragend="updatePosition()">
      </marker>

      <marker ng-repeat='place in places.slice(0,3)'
        on-click="showInfoWindow(event, place)"
        position='{{place.venue.location.lat}},{{place.venue.location.lng}}'
        class='mark'
        draggable="false">
      </marker>
    </ng-map>
  </div>


  <div class="col-md-4" ng-if="venuesAdded">
    <h3>Rank your preferences for where to meet </h3>
    <form ng-submit="vote()">
      <div ng-repeat='place in places.slice(0,3)'>
        <select name="rank" ng-model="place.votes">
          <option value="3">1</option>
          <option value="2">2</option>
          <option value="1">3</option>
        </select>
        <label>{{place.venue.name}} </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div id="footer" class="container">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner text-center small" style="margin-top:1.5em; color: #8FBDDB">
      © 2015 Emerald Mopeds | icon by Alex Kwa
    </div>
  </nav>
</div>
