
<div ng-init='init()'>
  <div id='main'>
    <div class='navbar col-md-4 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-4 col-xs-offset-6'>
      <ul class='nav'>
        <li><a href='#/facebook' class='index' ng-click='logOut()'>Home</a></li>
        <li><a href='#/logout' class='create' ng-click='logOut(true)'>Logout</a></li>
      </ul>
    </div>
  </div>
  <div class = 'col-md-12 col-sm-12 col-xs-12'>
  <h4>Room: {{roomName}}</h4>
    <ng-map class='room' default-style='true' center='current-location' zoom='14'>
      <marker ng-repeat='user in roomDetails.users' position='{{user.latitude}},{{user.longitude}}'
        class='mark' icon = {{user.userPic}}>
      </marker>
       <marker ng-repeat='venue in UserHelper.venues.slice(0,3)' position='{{venue.location.lat}},{{venue.location.lng}}'
        class='mark'>
      </marker>
    </ng-map>
  </div>

</div>
